<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/gif "access plus 7 days"
    ExpiresByType image/jpeg "access plus 7 days"
    ExpiresByType image/jpg "access plus 7 days"
    ExpiresByType image/png "access plus 7 days"
    ExpiresByType image/x-icon "access plus 7 days"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?path=$1 [L]
</IfModule>
